.header {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;

  .toolbar {
    width: 100%;
    display: flex;
    align-items: center;
  }

  img {
    margin: 0 16px;
  }
}
