.map-container {
  width: 100%;
  //max-height: calc(100vh - 170px);
  position: absolute;
  height: 100%;
}

#map {
  //max-width: calc(1280px - 235px);
}

.map-menu {
  position: absolute;
  background: #fff;
  padding: 10px;
}
