.map-container {
  width: 1180px;
  position: absolute;
  top: 60px;
  bottom: 30px;
}

.map-menu {
  position: absolute;
  background: #fff;
  padding: 10px;
  min-width: 290px;

  &-radio-button {
    margin: 10px;
  }

  &-toggle {
    padding: 0 10px;
    min-width: 110px;
    background-color: antiquewhite;
  }
}
